xsd-parser/tests/generator/generator_flags/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com">
    <xs:complexType name="MyChoice" mixed="true">
        <xs:choice>
            <xs:element name="Once" type="xs:int" />
            <xs:element name="Optional" type="xs:int" minOccurs="0" />
            <xs:element name="OnceSpecify" type="xs:int" minOccurs="1" />
            <xs:element name="TwiceOrMore" type="xs:int" minOccurs="2" maxOccurs="unbounded" />
            <xs:any />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="MySequence" mixed="true">
        <xs:sequence>
            <xs:element name="Once" type="xs:int" nillable="true" />
            <xs:element name="Optional" type="xs:int" minOccurs="0" nillable="true" />
            <xs:element name="OnceSpecify" type="xs:int" minOccurs="1" />
            <xs:element name="TwiceOrMore" type="xs:int" minOccurs="2" maxOccurs="unbounded" />
            <xs:any />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
