xsd-parser/tests/generator/serde_support/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com">

    <xs:complexType name="MyAll">
        <xs:all>
            <xs:element name="a" type="xs:int" />
            <xs:element name="b" type="xs:string" />
        </xs:all>
        <xs:attribute name="x" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="MyChoice">
        <xs:choice>
            <xs:element name="a" type="xs:int" />
            <xs:element name="b" type="xs:string" />
        </xs:choice>
        <xs:attribute name="x" type="xs:boolean" />
    </xs:complexType>

    <xs:complexType name="MySequence">
        <xs:sequence>
            <xs:element name="a" type="xs:int" />
            <xs:element name="b" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="x" type="xs:boolean" />
    </xs:complexType>
</xs:schema>
