xsd-parser/tests/feature/choice_single_option_defaults/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://example.com"
  targetNamespace="http://example.com"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
>
  <xs:complexType name="FooType">
    <xs:choice>
      <xs:sequence minOccurs="1" maxOccurs="unbounded">
        <xs:element name="info" type="xs:string" />
      </xs:sequence>
    </xs:choice>
	</xs:complexType>
	<xs:element name="foo" type="tns:FooType"/>
  <xs:complexType name="BarType">
    <xs:choice>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element name="info" type="xs:string"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  <xs:element name="bar" type="tns:BarType"/>
</xs:schema>