xsd-parser/tests/feature/group_ref_static_list/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:group name="Address">
        <xs:sequence>
            <xs:element name="Street" type="xs:string"/>
            <xs:element name="City" type="xs:string"/>
        </xs:sequence>
    </xs:group>

    <!-- Group ref with maxOccurs="3" (StaticList) followed by required element -->
    <xs:element name="Person">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="tns:Address" maxOccurs="3"/>
                <xs:element name="Name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
