xsd-parser/tests/feature/flattened_content_helpers/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:complexType name="FooType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="Bar" type="xs:string" />
            <xs:element name="Baz" type="xs:int" />
        </xs:choice>
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType" />
</xs:schema>