xsd-parser/tests/feature/type_name_clash/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:complexType name="fooType">
        <xs:attribute name="a" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="FooType">
        <xs:complexContent>
            <xs:extension base="tns:fooType">
                <xs:attribute name="b" type="xs:string" />
                <xs:anyAttribute namespace="##other" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType" />
</xs:schema>
