tests/feature/mixed_content/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:complexType name="MixedAllType" mixed="true">
        <xs:all>
            <xs:element name="Fuu" type="xs:int" />
            <xs:element name="Bar" type="xs:string" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="MixedChoiceType" mixed="true">
        <xs:choice>
            <xs:element name="Fuu" type="xs:int" />
            <xs:element name="Bar" type="xs:string" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="MixedChoiceListType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Fuu" type="xs:int" />
            <xs:element name="Bar" type="xs:string" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="MixedSequenceType" mixed="true">
        <xs:sequence>
            <xs:element name="Fuu" type="xs:int" />
            <xs:element name="Bar" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="MixedAll" type="tns:MixedAllType" />
    <xs:element name="MixedChoice" type="tns:MixedChoiceType" />
    <xs:element name="MixedChoiceList" type="tns:MixedChoiceListType" />
    <xs:element name="MixedSequence" type="tns:MixedSequenceType" />
</xs:schema>
