xsd-parser/tests/optimizer/abstract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com">

    <xs:element name="Abstract" abstract="1" />

    <xs:element name="First" substitutionGroup="tns:Abstract">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Second" substitutionGroup="tns:Abstract">
        <xs:simpleType>
            <xs:restriction base="xs:token">
                <xs:enumeration value="Var1" />
                <xs:enumeration value="Var2" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>
