xsd-parser/tests/feature/group_ref_consecutive_unbounded/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:group name="Contact">
        <xs:sequence>
            <xs:element name="Email" type="xs:string"/>
        </xs:sequence>
    </xs:group>

    <xs:group name="Address">
        <xs:sequence>
            <xs:element name="Street" type="xs:string"/>
            <xs:element name="City" type="xs:string"/>
        </xs:sequence>
    </xs:group>

    <!-- Two consecutive unbounded group refs followed by a required element -->
    <xs:element name="Record">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="tns:Contact" maxOccurs="unbounded"/>
                <xs:group ref="tns:Address" maxOccurs="unbounded"/>
                <xs:element name="Name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
