xsd-parser/tests/feature/group_ref_trailing_unbounded/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:group name="Entry">
        <xs:sequence>
            <xs:element name="Key" type="xs:string"/>
            <xs:element name="Value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:group>

    <!-- Required element followed by unbounded group as the last element -->
    <xs:element name="Catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Title" type="xs:string"/>
                <xs:group ref="tns:Entry" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
