xsd-parser/tests/feature/group_ref_min_occurs_threshold/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:group name="Entry">
        <xs:sequence>
            <xs:element name="Code" type="xs:string"/>
        </xs:sequence>
    </xs:group>

    <!-- Threshold regression target: group-ref list with minOccurs > 1
         followed by a required element. -->
    <xs:element name="Collection">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="tns:Entry" minOccurs="2" maxOccurs="unbounded"/>
                <xs:element name="Name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
