tests/feature/mixed_unexpected_text/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:group name="Group">
        <xs:choice>
            <xs:element name="Fuu" type="xs:int" maxOccurs="unbounded" />
            <xs:element name="Bar" type="xs:int" maxOccurs="unbounded" />
        </xs:choice>
    </xs:group>

    <xs:complexType name="NormalType">
        <xs:sequence>
            <xs:group ref="tns:Group" maxOccurs="unbounded" />
            <xs:element name="Baz" type="xs:int" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MixedType" mixed="true">
        <xs:sequence>
            <xs:group ref="tns:Group" maxOccurs="unbounded" />
            <xs:element name="Baz" type="xs:int" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="Mixed" type="tns:MixedType" />
    <xs:element name="Normal" type="tns:NormalType" />
</xs:schema>
