tests/feature/extra_derive/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:complexType name="FooType">
        <xs:attribute name="a" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="BarType">
        <xs:attribute name="b" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="BazType">
        <xs:attribute name="c" type="xs:string" />
    </xs:complexType>
</xs:schema>
