xsd-parser/tests/feature/simple_content_with_extension/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:simpleType name="CustomString">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="SupplierIdBase">
        <xs:restriction base="tns:CustomString">
            <xs:maxLength value="32"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ExtendedString">
        <xs:simpleContent>
            <xs:extension base="tns:CustomString">
                <xs:attribute name="lang" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="SupplierId">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="tns:SupplierIdBase">
                    <xs:attribute name="type" use="optional" type="xs:string" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="UnitName">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="tns:ExtendedString">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="20"/>
                    <xs:enumeration value="Unit1"/>
                    <xs:enumeration value="Unit2"/>
                    <xs:enumeration value="Unit3"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
