tests/feature/union/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com"
           targetNamespace="http://example.com"
           elementFormDefault="qualified">

    <xs:simpleType name="UnionBaseType">
        <xs:union memberTypes="xs:int xs:string" />
    </xs:simpleType>

    <xs:simpleType name="UnionType">
        <xs:restriction base="tns:UnionBaseType">
            <xs:pattern value="[a-z0-9]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FooType">
        <xs:attribute name="union" type="tns:UnionType" use="required" />
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType" />
</xs:schema>
