xsd-parser/tests/feature/content_display_name/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:complexType name="FooType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="content" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType" />
</xs:schema>
