xsd-parser/tests/feature/duplicate_idents/bar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="Test" targetNamespace="Test">
    <xs:element name="Outer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Inner" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Inner">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="B" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
