tests/feature/complex_type_with_group/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">

    <xs:group name="Inner">
        <xs:sequence>
            <xs:element name="Fizz" type="xs:string" />
            <xs:element name="Buzz" type="xs:int" />
        </xs:sequence>
    </xs:group>

    <xs:group name="Outer">
        <xs:choice>
            <xs:element name="Bar" type="xs:string" />
            <xs:element name="Baz" type="xs:int" />
            <xs:group ref="tns:Inner" />
        </xs:choice>
    </xs:group>

    <xs:element name="Foo">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="tns:Outer" />
                <xs:group ref="tns:Outer" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
