xsd-parser/tests/feature/list/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com"
           targetNamespace="http://example.com"
           elementFormDefault="qualified"
           finalDefault="">

    <xs:simpleType name="ListType">
        <xs:list itemType="xs:string" />
    </xs:simpleType>

    <xs:complexType name="FooType">
        <xs:attribute name="a-list" type="tns:ListType" use="optional" default="" />
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType" />
</xs:schema>
