xsd-parser/tests/feature/documentation/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com"
    elementFormDefault="qualified">
    <xs:element name="SomeDetails">
        <xs:annotation>
            <xs:documentation>SomeDetails doc string 1</xs:documentation>
            <xs:documentation>SomeDetails doc string 2</xs:documentation>
            <xs:documentation>
                This is a multi line comment with mixed content.
                <div>
                    You could use for example HTML to apply some <b>formatting</b> to your documentation.
                    Of cause this must be supported by your language, but for rust docs this should work :)
                </div>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>Unique user identifier. Range 1000-99999</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="test-attrib" type="xs:int">
                <xs:annotation>
                    <xs:documentation>
                        Documentation for attributes is also possible.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
