xsd-parser/tests/feature/nonzero_int/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com"
           targetNamespace="http://example.com"
           elementFormDefault="unqualified">

    <xs:complexType name="FooType">
        <xs:attribute name="a-int" type="xs:positiveInteger" use="required" />
        <xs:attribute name="b-int" type="xs:negativeInteger" use="required" />
    </xs:complexType>

    <xs:element name="Foo" type="tns:FooType" />
</xs:schema>
