tests/schema/static_list/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com"
    targetNamespace="http://example.com">
    <xs:complexType name="ArrayType">
        <xs:all>
            <xs:element name="Item" type="xs:int" minOccurs="5" maxOccurs="5" />
        </xs:all>
    </xs:complexType>

    <xs:element name="Array" type="tns:ArrayType" />
</xs:schema>
